<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Minha App MVC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/" style="padding:7px">Home</a>
            <a href="/person"  style="padding:7px">Person</a>


            <a href="#" style="background-color:#333;position:relative;left:38%">FELIPE MARCEL SILVA DE AMORIM</a>
            <div class="digital-clock ml-auto">
                <span id="clock"></span>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="mouse-indicators">
                    <p><strong>Mouse Position:</strong></p>
                    <p><span id="xPos">X: </span><span id="yPos">Y: </span></p>
                </div>
            </div>
            <div class="col-md-4">
                @RenderBody()
            </div>
            <div class="col-md-4">
                <div class="image-slider">
                    <button class="slider-btn prev" onclick="prevSlide()">Previous</button>
                    <img src="" id="sliderImage" alt="Slider Image" style="width:100px">
                    <button class="slider-btn next" onclick="nextSlide()">Next</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center mt-5" style="position: absolute; bottom: 0; left: 42%; background-color: #ddd">
        <a href="https://allari.com/" >Allari.com</a>
    </footer>
    <script src="~/js/site.js"></script>
</body>
</html>
