html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mouse-indicators {
    margin-top: 20px;
}

.image-slider {
    position: relative;
    display: flex;
    align-items: center;
}

#sliderImage {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

.slider-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.prev {
    margin-right: 10px;
}

.next {
    margin-left: 10px;
}


.ripple {
    padding: 12px 50px;
    border: none;
    border-radius: 5px;
    background-color: #1abc9c;
    color: #fff;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    /* We need this to position
                span inside button */
    position: relative;
    overflow: hidden;
    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
}